<h1>Create a new cat!</h1>

<form action="<%= cats_url %>" method="POST">
  <label for="name">Name:
  <input id="name" type="text" name="cat[name]" value="<%= @cat.name %>">
  </label>
  <br>
  
  <label for="sex">Sex:</label>
  <label for="sex_male">Male</label>
  <input id="sex_male" type="radio" name="cat[sex]" value='M' <%= @cat.sex == "M" ? "checked" : "" %>>
  <label for="sex_female">Female</label>
  <input id="sex_female" type="radio" name="cat[sex]" value='F' <%= @cat.sex == "F" ? "checked" : "" %>>
  
  <br>
  
  <label for="birthdate">Birthdate:</label>
  <input id="birthdate" type="date" name="cat[birth_date]" value="<%= @cat.name %>">
  
  <br>
  
  <label for="description">Description:</label>
  <textarea id="description" name="cat[description]"><%= @cat.description %></textarea>

  <br>

  <label for="cat_color">Color</label>
  <select name="cat[color]" id="cat_color">
  <option disabled selected>-- select a color --</option>
    <% Cat::COLORS.each do |color| %>
      <option
        <%= @cat.color == color ? "selected" : "" %>
        value="<%= color %>">
        <%= color.upcase %>
      </option>
    <% end %>
  </select>
 
  <input type="submit" value="Create Cat">
</form>



